<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>feature</key>
		<string>Responsive</string>
		<key>isReady</key>
		<true/>
		<key>thumbnail</key>
		<string>iueditor_thumbnail</string>
		<key>name</key>
		<string>IUEditor</string>
		<key>type</key>
		<real>0</real>
		<key>desc</key>
		<string>IUEditor Sample page</string>
		<key>pageSize</key>
		<string>960 / 320</string>
		<key>previewImages</key>
		<array>
			<string>iueditor_preview.png</string>
		</array>
		<key>projectPackageFile</key>
		<string>iueditor.iu.zip</string>
	</dict>
	<dict>
		<key>feature</key>
		<string>Responsive, Carousel</string>
		<key>isReady</key>
		<true/>
		<key>thumbnail</key>
		<string>agency_thumbnail</string>
		<key>name</key>
		<string>Agency</string>
		<key>type</key>
		<real>0</real>
		<key>desc</key>
		<string>Agency Sample page</string>
		<key>pageSize</key>
		<string>960 / 320</string>
		<key>previewImages</key>
		<array>
			<string>agency_preview.png</string>
		</array>
		<key>projectPackageFile</key>
		<string>agency.iu.zip</string>
	</dict>
	
</array>
</plist>
