<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUBox</string>
		<key>classImage</key>
		<string>tool_view</string>
		<key>navImage</key>
		<string>stack_view</string>
		<key>shortDesc</key>
		<string>Box Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUText</string>
		<key>classImage</key>
		<string>tool_text</string>
		<key>navImage</key>
		<string>stack_text</string>
		<key>shortDesc</key>
		<string>Text Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUImage</string>
		<key>classImage</key>
		<string>tool_image</string>
		<key>navImage</key>
		<string>stack_image</string>
		<key>shortDesc</key>
		<string>Image Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUInput</string>
		<key>classImage</key>
		<string>tool_textfield</string>
		<key>navImage</key>
		<string>stack_textfield</string>
		<key>shortDesc</key>
		<string>Input text object from user</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUPageLinkSet</string>
		<key>classImage</key>
		<string>tool_page_nav</string>
		<key>navImage</key>
		<string>stack_page_nav</string>
		<key>shortDesc</key>
		<string>Box Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUSubmitButton</string>
		<key>classImage</key>
		<string>tool_submit</string>
		<key>navImage</key>
		<string>stack_submit</string>
		<key>shortDesc</key>
		<string>Input text object from user</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUForm</string>
		<key>classImage</key>
		<string>tool_form</string>
		<key>navImage</key>
		<string>stack_form</string>
		<key>shortDesc</key>
		<string>Component Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUImport</string>
		<key>classImage</key>
		<string>tool_render</string>
		<key>navImage</key>
		<string>stack_render</string>
		<key>shortDesc</key>
		<string>Component Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUMovie</string>
		<key>classImage</key>
		<string>tool_movie</string>
		<key>navImage</key>
		<string>stack_movie</string>
		<key>shortDesc</key>
		<string>Video clip from library</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUHTML</string>
		<key>classImage</key>
		<string>tool_html</string>
		<key>navImage</key>
		<string>stack_html</string>
		<key>shortDesc</key>
		<string>Object for HTML code</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUWebMovie</string>
		<key>classImage</key>
		<string>tool_webmovie</string>
		<key>navImage</key>
		<string>stack_webmovie</string>
		<key>shortDesc</key>
		<string>Object for Web Movie code</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUFBLike</string>
		<key>classImage</key>
		<string>tool_fblike</string>
		<key>navImage</key>
		<string>stack_fblike</string>
		<key>shortDesc</key>
		<string>Object for Facebook Like widget</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUCollection</string>
		<key>classImage</key>
		<string>tool_collection</string>
		<key>navImage</key>
		<string>stack_collection</string>
		<key>shortDesc</key>
		<string>IU Collection view</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUTwitter</string>
		<key>classImage</key>
		<string>tool_twitter</string>
		<key>navImage</key>
		<string>stack_twitter</string>
		<key>shortDesc</key>
		<string></string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUMail</string>
		<key>classImage</key>
		<string>tool_mail</string>
		<key>navImage</key>
		<string>stack_mail</string>
		<key>shortDesc</key>
		<string>IU Mail Link</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUTextField</string>
		<key>classImage</key>
		<string>tool_textfield</string>
		<key>navImage</key>
		<string>stack_textfield</string>
		<key>shortDesc</key>
		<string>Input text Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUTextView</string>
		<key>classImage</key>
		<string>tool_textview</string>
		<key>navImage</key>
		<string>stack_textview</string>
		<key>shortDesc</key>
		<string>Textarea Object</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUTransition</string>
		<key>classImage</key>
		<string>tool_transition</string>
		<key>navImage</key>
		<string>stack_transition</string>
		<key>shortDesc</key>
		<string>IU Transition View</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUNavigation</string>
		<key>classImage</key>
		<string>tool_navi</string>
		<key>navImage</key>
		<string>stack_navi</string>
		<key>shortDesc</key>
		<string>IU Navi</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>IUCarousel</string>
		<key>classImage</key>
		<string>tool_carousel</string>
		<key>navImage</key>
		<string>stack_carousel</string>
		<key>shortDesc</key>
		<string>IU Carousel</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUResponsiveSection</string>
		<key>classImage</key>
		<string>tool_collection</string>
		<key>navImage</key>
		<string>stack_section</string>
		<key>shortDesc</key>
		<string>IU Responsive Section</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUPage</string>
		<key>navImage</key>
		<string>ic_page</string>
		<key>widgetClass</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUBackground</string>
		<key>navImage</key>
		<string>ic_background</string>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUCarouselItem</string>
		<key>navImage</key>
		<string>stack_carousel_item</string>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUPageContent</string>
		<key>navImage</key>
		<string>ic_contents</string>
	</dict>
	<dict>
		<key>isWidget</key>
		<false/>
		<key>className</key>
		<string>IUHeader</string>
		<key>navImage</key>
		<string>stack_header</string>
	</dict>
</array>
</plist>
