<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showRightInspector</key>
	<false/>
	<key>showLeftInspector</key>
	<true/>
	<key>textEditMode</key>
	<false/>
	<key>showGhost</key>
	<false/>
	<key>showBorder</key>
	<false/>
</dict>
</plist>
