.IUBox{
    position:absolute;
    display:block;
    border-style:solid;
    overflow:hidden;
}

a{
    text-decoration:none;
}

.IUPage{
    width:100%;
    min-height:100%;
}

.IUHeader{
    position:relative;
    width:100%;
}

.IUPageContent{
    position:relative;
    min-height:100px;
    width:100%;
}

.IUItem{
    width: 100%;
    height: 100%;
}

.IUCollection > div{
    float:left !important;
    position:relative !important;
}

.IUTextField {
    padding-left: 8px;
}

.IUTextView {
    padding-left: 8px;
    padding-top : 4px;
}

.IUPageLinkSet > div > ul > a > li{
    display:block;
    float:left;
    color: white;
}